<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

  <title>
    {%if page.title %}
      {{ page.title }} | {{ site.title }}
    {% else %}
	  {{ site.title }}
    {% endif %}
  </title>

  <meta itemprop="description" name="description"
	content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160 }}{% endif %}"/>
  <link rel="canonical" href="{{ page.url | prepend: site.url }}">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon-32x32.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon-16x16.png" | relative_url }}">
  <link rel="manifest" href="{{ "/site.webmanifest" | relative_url }}">
  <link rel="mask-icon" href="{{ "/safari-pinned-tab.svg" | relative_url }}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

</head>